/*
@font-face {
    font-family: SoDoSans;
    src: url(/weblx/static/c0076a9c4c9c25c1a9282fbecf5b4891.woff);
    font-weight: 400;
    font-style: normal;
    font-display:swap
}

@font-face {
    font-family: SoDoSans;
    src: url(/weblx/static/28e39ff562f60f600725a762ec187f37.woff);
    font-weight: 600;
    font-style: normal;
    font-display:swap
}

@font-face {
    font-family: SoDoSans;
    src: url(/weblx/static/7dfe8a181de6f20b0c35903d456a6898.woff);
    font-weight: 700;
    font-style: normal;
    font-display:swap
}
*/
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

body {
    padding: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
    display: block;
}

.container,
.container--headerCrate {
    display: block;
    width: 100%;
    padding: 0 1.6rem;
}

@media (min-width: 1024px) {

    .container,
    .container--headerCrate {
        padding: 0 4rem
    }
}

.sb-globalNav {
    position: relative
}

.sb-globalNav__nav {
    box-shadow: 0 1px 3px rgba(0, 0, 0, .1), 0 2px 2px rgba(0, 0, 0, .06), 0 0 2px rgba(0, 0, 0, .07)
}

@media (max-width: 1023px) {
    .sb-globalNav__nav.sb-globalNav--hideBottomShadow {
        box-shadow: none
    }
}

.sb-globalNav--fixed {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%
}

@media (min-width: 1520px) {
    .sb-globalNav--relative {
        position: relative
    }
}

.sb-globalNav__desktopLink:hover {
    color: indigo
}

.sb-globalNav__desktopLink--active {
    box-shadow: inset 0 -6px indigo
}

.sb-globalNav__desktopListItem {
    display: inline-block;
    padding-left: 2.4rem
}

.sb-globalNav__desktopListItem:first-of-type {
    padding-left: 0
}

.sb-globalNav__logo {
    flex-shrink: 0;
    width: 32px;
    height: 32px
}

@media (min-width: 375px) {
    .sb-globalNav__logo {
        width: 40px;
        height: 40px
    }
}

@media (min-width: 768px) {
    .sb-globalNav__logo {
        width: 51px;
        height: 51px
    }
}

@media (min-width: 1702px) {
    .sb-globalNav__logo.sb-globalNav--maxWidthLogo {
        position: absolute;
        right: 100%;
        top: 50%;
        transform: translateY(-50%)
    }
}

.sb-globalNav--hamburgerNavOpen {
    box-shadow: 0 2px 3px rgba(0, 0, 0, .2)
}

.sb-globalNav__menuButton {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 44px
}

.sb-globalNav__wrapper {
    display: flex;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.flex {
    display: flex;
    /*!important; */
}

@media (min-width: 480px) {
    .sm-flex {
        display: flex;
        /*!important; */
    }
}

@media (min-width: 768px) {
    .md-flex {
        display: flex;
        /*!important; */
    }
}

@media (min-width: 1024px) {
    .lg-flex {
        display: flex;
        /*!important; */
    }
}

@media (min-width: 1280px) {
    .xl-flex {
        display: flex;
        /*!important; */
    }
}

@media (min-width: 1600px) {
    .xxl-flex {
        display: flex;
        /*!important; */
    }
}


.flex-shrink-none {
    flex-shrink: 0;
    /*!important; */
}

.md-py5 {
    padding-top: 3.2rem;
    /*!important; */
    padding-bottom: 3.2rem;
    /*!important; */
}

.lg-py6 {
    padding-top: 4rem;
    /*!important; */
    padding-bottom: 4rem;
    /*!important; */
}

.inline-block {
    display: inline-block;
    /*!important; */
}

.text-noUnderline {
    text-decoration: none;
    /*!important; */
}

.text-upper {
    text-transform: uppercase;
    /*!important; */
    letter-spacing: .1em;
    /*!important; */
}

.text-bold {
    font-weight: 700;
    /*!important; */
}

.text-xxs {
    font-size: 1.3rem;
    /*!important; */
}

.ml-auto {
    margin-left: auto;
    /*!important; */
}

.items-center {
    align-items: center;
    /*!important; */
}

.sb-button {
    display: inline-block;
    background: none;
    border-style: solid;
    border-width: 1px;
    border-radius: 50px;
    padding: 7px 16px;
    font-size: 14px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease
}

.sb-button:not(.sb-button--loading):not(.sb-button--disabled):not(.sb-button--nonInteractive):active {
    transform: scale(.95)
}

.sb-textLink {
    text-align: inherit;
    text-decoration: underline
}

.sb-textLink:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover {
    text-decoration: none
}

.sb-button--default,
.sb-button--default.sb-button--rewardsGreen {
    color: #008248
}

.sb-button--default.sb-button--black,
.sb-button--default.sb-button--rewardsDefault {
    color: rgba(0, 0, 0, .87)
}

.sb-button--default.sb-button--black:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover,
.sb-button--default.sb-button--rewardsDefault:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover {
    background-color: rgba(0, 0, 0, .06)
}

.sb-button--positive,
.sb-button--positive.sb-button--rewardsGreen {
    background-color: indigo;
    border-color: indigo;
    color: #fff
}

.sb-button--positive.sb-button--houseGreen:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover {
    background-color: rgba(30, 57, 50, .9);
    border-color: rgba(30, 57, 50, .9)
}

.sb-button--positive.sb-button--black,
.sb-button--positive.sb-button--rewardsDefault {
    background-color: #000;
    border-color: #000
}

.sb-button--positive.sb-button--black:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover,
.sb-button--positive.sb-button--rewardsDefault:not(.sb-button--disabled):not(.sb-button--nonInteractive):not(.sb-button--loading):hover {
    background-color: rgba(0, 0, 0, .7);
    border-color: rgba(0, 0, 0, .7)
}


.mr3 {
    margin-right: 1.6rem;
    /*!important; */
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline: 0
}


h1 {
    font-size: 2em;
    margin: .67em 0
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0
}

[tabindex="-1"]:focus {
    outline: none;
    /*!important; */
}

body {
    height: 100%;
    margin: 0;
    background-color: #fff;
    color: rgba(0, 0, 0, .87);
    font-family: SoDoSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    letter-spacing: -.01em;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-feature-settings: "calt"
}

.fonts-loading body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    /*!important; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 2.3rem;
    font-weight: 400
}

a {
    color: currentColor
}

a:hover {
    text-decoration: none
}

button,
input,
optgroup,
select,
textarea {
    color: inherit;
    font: inherit;
    margin: 0
}

button {
    overflow: visible
}

button {
    background: transparent;
    border: 0;
    padding: 0;
    border-radius: 0
}

button,
select {
    text-transform: none
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
    -webkit-appearance: button;
    cursor: pointer
}

button[disabled],
html input[disabled] {
    cursor: not-allowed
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0
}

html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}